  .baking_grid{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



  .art_grid{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .ceramics_grid{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column_art {
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
  }
  
  .column_art img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column_art {
      flex: 100%;
      max-width: 100%;
    }
  }


  .centered{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
  }

  .button{
    background-color: rgb(233, 233, 233);
    box-shadow: black;
    align-items: center;
    width: 100%;
    

  }


  .data_flex{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }


  .column_data {
    flex: 33%;
    max-width: 33%;
    padding: 10px 10px;
  }
  
  .column_data img {
    vertical-align: middle;
    width: 100%;
  }
  

  @media screen and (max-width: 1200px) {
    .column_data {
      flex: 50%;
      max-width: 50%;
    }
  }


  @media screen and (max-width: 800px) {
    .column_data {
      flex: 100%;
      max-width: 100%;
    }
  }