
.people_h2{
    grid-column-start: 1;
    grid-row-start:1;
    background-color:aqua;
  }
  
  
  .people_h2{
    grid-column-start: 1;
    grid-row-start:1;
    background-color:aqua;
  }
  
  
  .people_h2{
    grid-column-start: 1;
    grid-row-start:1;
    background-color:aqua;
  }