/*
  Author: Lauren Lunsford 
  Recent Update: March 25, 2021
  University of Michigan
*/


html{
  scroll-behavior: smooth;
}

body{
  color: #000000;
  font-size: 18px;
  margin: 1.2em;
  background-size: cover ;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

nav li{
  display:inline;
  padding-right:20px;
}

main{
  padding: 0% 10%;  
}


/*
nav{
  background-color: #FFFFFF;
  padding: 25px 0; 
  text-align: center;
  text-decoration:none;
  font-family: 'Lato', sans-serif;
}
*/

/*DESKTOP MENU*/
.desktop_menu{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: right;

}

.desktop_menu a{
  padding-left: 10px;
}

.current{
  text-decoration: underline;
  color:#3054DD;
  
}

/*MOBILE MENU*/
.topnav {
  overflow: hidden;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;

}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  color:#3054DD;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding-top: 35px;

}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #FFFFFF;
  color: #3054DD;
}

/* Style the active link (or home/logo) */
.topnav .active {
  background-color: white;
  color: #3054DD;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


h1{
  color: #3054DD;
  font-size: 2em;
  text-align: center;
  line-height: 2;
  font-family: 'Lato', sans-serif;
  font-weight: 300;

}

h1.hide{
  
  /* visibility: hidden; */ 
}

h2{
  font-family: 'Hind', sans-serif;
  color: #3054DD;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;


}

h2.intro{
  text-transform: capitalize;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding: top 40px;
}

div.intro{
  text-transform: capitalize;
  color: #000;
}


h3{
  font-size: .75em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-bottom: 50px;
}

p{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0 10%;

  /*Req 3*/
}

.tired{
  padding-bottom: 50px;
}

.me{
  padding: 50px 10%;
}


/* IMAGES IN THE ABOUT ME */
.me img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 20%;
}


a{
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  /*Req 4*/
}

a:hover{
  color: #3054DD;
}

h2 a{
  font-family: 'Hind', sans-serif;
  color: #3054DD;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;}

h2 a:hover{
  opacity: 0.7;
}

/*Req 5*/
*:focus{
  border: 3px dashed  #417243;
}

main{
  padding-bottom: 100px;
}


/*Req 8*/
footer{
  position: relative;
  width:100%;
  min-height: 75px;
  text-align:center;
  color: #FFFFFF;
  left: 0;
  bottom: 0;
}


#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}

}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #3054DD;
}

.fa:hover {
    opacity: 0.7;
}

